body{
    font-family: Arial,sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1,h2{
    text-align: center;
    color: #333;
}

#products div, #cart div{
    background:white;
    padding:10px;
    margin:5px auto;
    width:50%;
    border-radius:5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.product, .cart-item{
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

.product button, .cart-item button{
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background: #218838;
}

button{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
